<div id = "restaurant-form-wrapper">
    <div id = "restaurant-form">
        <form action="/submitRestaurant" method="post">
            <strong>Name</strong><input type="text" name="name" required> <br>

            <strong>Allergen Friendly?</strong>
            <select name="allergen">
                <option value="yes">Yes</option>
                <option value="no">No</option>
            </select> <br>

            <strong>Type</strong>
            <select name="type">
                <option value="Italian">Italian</option>
                <option value="Mexican">Mexican</option>
                <option value="American">American</option>
                <option value="Asian">Asian</option>
                <option value="Greek">Greek</option>
                <option value="Other">Other</option>
            </select> <br>

            <strong>Price</strong>
            <select name="price">
                <option value="$$$$">$$$$</option>
                <option value="$$$">$$$</option>
                <option value="$$">$$</option>
                <option value="$">$</option>
            </select> <br>

            <button>Submit</button>
        </form>
    </div>
</div>