<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="/public/css/main.css">
    <title>Final Project</title>
</head>
<body>
    <div id="navbar">
        <a href="/" class="nav-selector">Home</a>
        <a href="/allergen" class="nav-selector">Allergen Friendly</a>
        <a href="/type" class="nav-selector">Type</a>
        <a href="/alphabetical" class="nav-selector">Alphabetical</a>
        <a href="/cleanliness" class="nav-selector">Clean Restaurants</a>
        <a href="/service" class="nav-selector">Great Service</a>
        <a href="/submitRestaurant" class="nav-selector">Add Restaurant</a>
    </div>
    {{{body}}}
</body>
</html>

